<head>
<%= stylesheet_link_tag 'styles.css' %>
</head>
<nav>
  <ul>
    <li><a href="/main">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/employees">Employees</a></li>
  </ul>
</nav>

<p>
  Welcome to my Final Project!! PS read the README in code so the indentation isn't messed up
</p>