<h1>Employees</h1>
<link rel="stylesheet" type="text/css" href="style.css">
<table class="table table-hover">

  <thead class="">
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>SSN</th>
      <th>Salary</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
    <tr> 
      <td><%= employee.lname %></td>
      <td><%= employee.fname %></td>
      <td><%= employee.ssn%></td>
      <td><%= employee.salary%></td>
    </tr>
    <% end %>
  </tbody>

</table>