<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: black;
        color: white;
        font-weight: bold;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<h1>Employees</h1>

<select id="attributeSelect">
    <option value="lname">Last Name</option>
    <option value="fname">First Name</option>
    <option value="ssn">SSN</option>
    <option value="salary">Salary</option>
</select>
<button onclick="sortTable()">Sort</button>

<table id='employee-table'>

  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>SSN</th>
      <th>Salary</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
    <tr> 
      <td><%= employee.lname %></td>
      <td><%= employee.fname %></td>
      <td><%= employee.ssn%></td>
      <td><%= employee.salary%></td>
    </tr>
    <% end %>
  </tbody>

</table>