<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: black;
        color: white;
        font-weight: bold;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<h1>Employees</h1>

<select id="attributeSelect">
    <option value="lname">Last Name</option>
    <option value="fname">First Name</option>
    <option value="ssn">SSN</option>
    <option value="salary">Salary</option>
</select>
<button id='sortButton'>Sort</button>

<table id='employee-table'>

  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>SSN</th>
      <th>Salary</th>
    </tr>
  </thead>

  <tbody id='data'>
    <% @employees.each do |employee| %>
    <tr> 
      <td><%= employee.lname %></td>
      <td><%= employee.fname %></td>
      <td><%= employee.ssn%></td>
      <td><%= employee.salary%></td>
    </tr>
    <% end %>
  </tbody>

</table>

<script>
    const sortButton = document.getElementById("sortButton");
    const attributeSelect = document.getElementById("attributeSelect");
    const employeeTable = document.getElementById("employee-table");

    sortButton.addEventListener("click", sortTable);

    function sortTable() {
      const rows = Array.from(employeeTable.querySelectorAll("tbody tr"));
      const index = attributeSelect.selectedIndex;
      const selectedAttribute = attrSelect.options[index].value;

      rows.sort((rowA, rowB) => {
            const valueA = rowA.cells[index].textContent.trim();
            const valueB = rowB.cells[index].textContent.trim();

            if (valueA < valueB) return -1;
            if (valueA > valueB) return 1;
            return 0;
        });
        const tbody = employeeTable.querySelector("tbody");
        tbody.innerHTML = "";
        rows.forEach(row => {
            tbody.appendChild(row);
        });
      }
</script>