<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: black;
        color: white;
        font-weight: bold;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<h1>Projects</h1>

<select id="attributeSelect">
    <option value="pnum">Project Number</option>
    <option value="pstdate">Start Date</option>
    <option value="penddate">End Date</option>
</select>
<button id='sortButton'>Sort</button>

<table>

  <thead>
    <tr>
      <th>Project Number</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
        <tr> 
        <td><%= project.pnum %></td>
        <td><%= project.pstdate%></td>
        <td><%= project.penddate%></td>
        </tr>
    <% end %>
  </tbody>

</table>