<head>
<%= stylesheet_link_tag 'styles.css' %>
</head>

<body>
<nav>
  <ul>
    <li><a href="/main">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/employees">Employees</a></li>
  </ul>
</nav>

<h1>Projects</h1>

<select id="selectHeader">
  <option value="">Select an attribute</option>
  <option value="pnum">Project Number</option>
  <option value="pstdate">Start Date</option>
  <option value="penddate">End Date</option>
</select>

<button id="sortButton">Sort</button>
<table>

  <tbody id='projectTable'>
    <% @projects.each do |project| %>
        <tr class='row'> 
        <td id='pnum'><%= project.pnum %></td>
        <td id='pstdate'><%= project.pstdate%></td>
        <td id='penddate'><%= project.penddate%></td>
        </tr>
    <% end %>
  </tbody>

</table>

<script>
  const sortButton = document.getElementById('sortButton');
  
  sortButton.addEventListener('click', function() {
    const selectHeader = document.getElementById('selectHeader');
    const attr = selectHeader.value;

    // Send AJAX request to server
    const xhr = new XMLHttpRequest();
    xhr.open('GET', `/projects?sort=${attr}`, true);
    xhr.onload = function() {
      if (xhr.status === 200) {

        // Parse the response HTML
        const parser = new DOMParser();
        const htmlDoc = parser.parseFromString(xhr.responseText, 'text/html');
        // Update table with received data
        const projectTable = document.getElementById('projectTable');
        projectTable.innerHTML = xhr.responseText;
      } else {
        console.error('Request failed. Status:', xhr.status);
      }
    };
    xhr.send();
  });
</script>
</body>