<head>
<%= stylesheet_link_tag 'styles.css' %>
</head>

<nav>
  <ul>
    <li><a href="/main">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/employees">Employees</a></li>
  </ul>
</nav>

<h1>Projects</h1>

<select id="selectHeader">
  <option value="">Select an attribute</option>
  <option value="pnum">Project Number</option>
  <option value="pstdate">Start Date</option>
  <option value="penddate">End Date</option>
</select>

<button id="sortButton">Sort</button>
<table>

  <thead>
    <tr>
    <th>Project Number</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
  </thead>

  <tbody id='projectTable'>
    <% @projects.each do |project| %>
        <tr class='row'> 
        <td id='pnum'><%= project.pnum %></td>
        <td id='pstdate'><%= project.pstdate%></td>
        <td id='penddate'><%= project.penddate%></td>
        </tr>
    <% end %>
  </tbody>

</table>

<script>
  const sortButton = document.getElementById('sortButton');
  
  sortButton.addEventListener('click', function() {
    const selectHeader = document.getElementById('selectHeader');
    const attr = selectHeader.value;
    const rows = document.querySelectorAll('.row');
    
    const sortedRows = Array.from(rows).sort((a, b) => {
      const aValue = a.getElementById(${attr}).textContent;
      const bValue = b.getElementById(${attr}).textContent;


      if (!isNaN(Date.parse(aValue)) && !isNaN(Date.parse(bValue))) {
        // If dates
        return new Date(aValue) - new Date(bValue);
      } else if (!isNaN(parseFloat(aValue)) && !isNaN(parseFloat(bValue))) {
        // If numbers
        return parseFloat(aValue) - parseFloat(bValue);
      } else {
        // Otherwise, compare as strings
        return aValue.localeCompare(bValue);
      }
    });
    //clears the table
    const projectTable = document.getElementById('projectTable');
    projectTable.innerHTML = '';
  });
</script>