<h1>Projects</h1>

<table class="table table-hover">

  <thead class="thead-dark">
    <tr>
      <th>Project Number</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
        <tr> 
        <td>PNUM_GOES_HERE</td>
        <td>PSTDATE_GOES_HERE</td>
        <td>PENDDATE_GOES_HERE</td>
        </tr>
    <% end %>
  </tbody>

</table>